LED+sw.txt
[{"id":"dd2017e9.1622b8","type":"tab","label":"LED+SW","disabled":false,"info":""},{"id":"70e90c4b.d4e774","type":"rpi-gpio in","z":"dd2017e9.1622b8","name":"","pin":"31","intype":"tri","debounce":"25","read":false,"x":190,"y":440,"wires":[["35aab837.6990b8"]]},{"id":"361d7338.725f5c","type":"rpi-gpio out","z":"dd2017e9.1622b8","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":900,"y":180,"wires":[]},{"id":"f8ba693.f069898","type":"inject","z":"dd2017e9.1622b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":690,"y":160,"wires":[["361d7338.725f5c"]]},{"id":"26f7a23f.9bdefe","type":"inject","z":"dd2017e9.1622b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":690,"y":200,"wires":[["361d7338.725f5c"]]},{"id":"9318b375.362e2","type":"ui_button","z":"dd2017e9.1622b8","name":"","group":"a757053b.5f7438","order":2,"width":3,"height":1,"passthru":false,"label":"1-LED off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":200,"y":160,"wires":[["848afa4e.e1b718"]]},{"id":"7d30b392.42bf5c","type":"ui_button","z":"dd2017e9.1622b8","name":"","group":"a757053b.5f7438","order":1,"width":3,"height":1,"passthru":false,"label":"1-LED on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":200,"y":200,"wires":[["848afa4e.e1b718"]]},{"id":"53d5817c.a817a","type":"ui_switch","z":"dd2017e9.1622b8","name":"","label":"switch-1","tooltip":"","group":"a757053b.5f7438","order":8,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":720,"y":440,"wires":[[]]},{"id":"35aab837.6990b8","type":"switch","z":"dd2017e9.1622b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":440,"wires":[["bc18a9b5.132ee8"],["1fa1232d.074b8d"]]},{"id":"bc18a9b5.132ee8","type":"change","z":"dd2017e9.1622b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["53d5817c.a817a"]]},{"id":"1fa1232d.074b8d","type":"change","z":"dd2017e9.1622b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["53d5817c.a817a"]]},{"id":"848afa4e.e1b718","type":"delay","z":"dd2017e9.1622b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":180,"wires":[["361d7338.725f5c"]]},{"id":"2b7ea961.7efcb6","type":"rpi-gpio out","z":"dd2017e9.1622b8","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":900,"y":280,"wires":[]},{"id":"c90dface.2aee28","type":"inject","z":"dd2017e9.1622b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":690,"y":260,"wires":[["2b7ea961.7efcb6"]]},{"id":"1e6cb7f9.20bdf8","type":"inject","z":"dd2017e9.1622b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":690,"y":300,"wires":[["2b7ea961.7efcb6"]]},{"id":"17bcbb82.a37d44","type":"ui_button","z":"dd2017e9.1622b8","name":"","group":"a757053b.5f7438","order":4,"width":3,"height":1,"passthru":false,"label":"2-LED off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":200,"y":260,"wires":[["b4368bf7.461438"]]},{"id":"58f732a2.f57d2c","type":"ui_button","z":"dd2017e9.1622b8","name":"","group":"a757053b.5f7438","order":3,"width":3,"height":1,"passthru":false,"label":"2-LED on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":200,"y":300,"wires":[["b4368bf7.461438"]]},{"id":"b4368bf7.461438","type":"delay","z":"dd2017e9.1622b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":280,"wires":[["2b7ea961.7efcb6"]]},{"id":"5ca10761.64efe8","type":"inject","z":"dd2017e9.1622b8","name":"起動時","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":100,"wires":[["29aec783.48cfc8"]]},{"id":"29aec783.48cfc8","type":"template","z":"dd2017e9.1622b8","name":"初期値 off 設定","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":440,"y":120,"wires":[["848afa4e.e1b718","b4368bf7.461438"]]},{"id":"4ab9767e.2e64c8","type":"comment","z":"dd2017e9.1622b8","name":"SW","info":"","x":170,"y":380,"wires":[]},{"id":"6a6ab9fc.3b0be8","type":"comment","z":"dd2017e9.1622b8","name":"LED","info":"","x":170,"y":60,"wires":[]},{"id":"bb2455ef.ece0e8","type":"rpi-gpio in","z":"dd2017e9.1622b8","name":"","pin":"29","intype":"tri","debounce":"25","read":true,"x":190,"y":520,"wires":[["c08e4951.683328"]]},{"id":"d33e483b.256228","type":"ui_switch","z":"dd2017e9.1622b8","name":"","label":"switch-2","tooltip":"","group":"a757053b.5f7438","order":8,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":720,"y":520,"wires":[[]]},{"id":"c08e4951.683328","type":"switch","z":"dd2017e9.1622b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":520,"wires":[["fe2e44c6.2f0e18"],["d5fc7a28.60cbe8"]]},{"id":"fe2e44c6.2f0e18","type":"change","z":"dd2017e9.1622b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["d33e483b.256228"]]},{"id":"d5fc7a28.60cbe8","type":"change","z":"dd2017e9.1622b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["d33e483b.256228"]]},{"id":"a757053b.5f7438","type":"ui_group","name":"Group 1","tab":"c396bec2.67068","order":2,"disp":true,"width":"6","collapse":false},{"id":"c396bec2.67068","type":"ui_tab","name":"LED+SW","icon":"dashboard","order":4,"disabled":false,"hidden":false}]