OLED表示.txt
[{"id":"dbf3b8ba.80c6c8","type":"tab","label":"OLED表示","disabled":false,"info":""},{"id":"477702c4.33883c","type":"comment","z":"dbf3b8ba.80c6c8","name":"説明","info":"通常は、OLED_01.pyにより、cpu温度表示している。\nしかし、flag.txtがある場合は、\ncpu温度表示をせず、flag.txtの内容を表示する。","x":120,"y":60,"wires":[]},{"id":"314a4bca.cfed74","type":"ui_text_input","z":"dbf3b8ba.80c6c8","name":"","label":"OLEDに表示する文字を入力","tooltip":"","group":"efe4dfaf.b734d","order":1,"width":6,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":220,"y":280,"wires":[["368c231e.5337fc"]]},{"id":"116ac307.fa5ecd","type":"ui_button","z":"dbf3b8ba.80c6c8","name":"","group":"efe4dfaf.b734d","order":2,"width":0,"height":0,"passthru":false,"label":"OLED表示実行","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":340,"wires":[["74d9465a.70c728"]]},{"id":"61e9fbec.6310c4","type":"ui_button","z":"dbf3b8ba.80c6c8","name":"","group":"efe4dfaf.b734d","order":3,"width":0,"height":0,"passthru":false,"label":"OLED表示中止","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":400,"wires":[["d0b06959.06b6e8"]]},{"id":"b5bc1078.0380f","type":"inject","z":"dbf3b8ba.80c6c8","name":"1分周期","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"/home/pi","payloadType":"str","x":180,"y":120,"wires":[["2c73c8ac.5e90f8"]]},{"id":"bd78f1be.d98e6","type":"change","z":"dbf3b8ba.80c6c8","name":"OLED","rules":[{"t":"set","p":"folder","pt":"flow","to":"OLED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[[]]},{"id":"c4ce8798.4ff5a8","type":"comment","z":"dbf3b8ba.80c6c8","name":"user","info":"","x":330,"y":140,"wires":[]},{"id":"2c73c8ac.5e90f8","type":"change","z":"dbf3b8ba.80c6c8","name":"pi","rules":[{"t":"set","p":"user","pt":"flow","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["bd78f1be.d98e6"]]},{"id":"2f5efb90.9822d4","type":"comment","z":"dbf3b8ba.80c6c8","name":"folder","info":"","x":490,"y":140,"wires":[]},{"id":"368c231e.5337fc","type":"change","z":"dbf3b8ba.80c6c8","name":"","rules":[{"t":"set","p":"disp_string","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["de6a9beb.cad828"]]},{"id":"44441d9.dedb3e4","type":"file","z":"dbf3b8ba.80c6c8","name":"flagファイル書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":830,"y":340,"wires":[["de6a9beb.cad828"]]},{"id":"5c6ffbbc.b10204","type":"template","z":"dbf3b8ba.80c6c8","name":"データセット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.disp_string}}","output":"str","x":600,"y":340,"wires":[["44441d9.dedb3e4"]]},{"id":"74d9465a.70c728","type":"template","z":"dbf3b8ba.80c6c8","name":"ファイル名設定","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/flag.txt","output":"str","x":400,"y":340,"wires":[["5c6ffbbc.b10204"]]},{"id":"d0b06959.06b6e8","type":"template","z":"dbf3b8ba.80c6c8","name":"ファイル名設定","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/flag.txt","output":"str","x":400,"y":400,"wires":[["10f5f9f0.3b8356"]]},{"id":"10f5f9f0.3b8356","type":"file","z":"dbf3b8ba.80c6c8","name":"flagファイル削除","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":610,"y":400,"wires":[["de6a9beb.cad828"]]},{"id":"de6a9beb.cad828","type":"debug","z":"dbf3b8ba.80c6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"efe4dfaf.b734d","type":"ui_group","name":"Group 1","tab":"76e50a6c.781644","order":1,"disp":true,"width":6},{"id":"76e50a6c.781644","type":"ui_tab","name":"OLED表示","icon":"dashboard","order":3,"disabled":false,"hidden":false}]