状態表示_.txt
[{"id":"5010b6a2.5a7b68","type":"tab","label":"状態表示","disabled":false,"info":""},{"id":"b54fad0f.cdc87","type":"mqtt out","z":"5010b6a2.5a7b68","name":"","topic":"testmqtt/OLED/temp002","qos":"0","retain":"","broker":"e5a3bdc8.169cc","x":1170,"y":380,"wires":[]},{"id":"8460e807.0ce978","type":"inject","z":"5010b6a2.5a7b68","name":"1分周期","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/tk","payloadType":"str","x":180,"y":100,"wires":[["189352e6.cc7f0d"]]},{"id":"78f25d20.53bd04","type":"comment","z":"5010b6a2.5a7b68","name":"1分周期に温度を取得する。エラーがあっても1分後にデータを取得できる。","info":"1分周期にデータを取得していると\nエラーをキャッチしてリトライしなくても、ファィルがあればデータを取得できる。\nテイル読み込みよりエラーに強い。","x":690,"y":100,"wires":[]},{"id":"83cd957a.7eb258","type":"file in","z":"5010b6a2.5a7b68","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":320,"wires":[["d38fcad6.0e2568"]]},{"id":"3ab2d983.e025d6","type":"file in","z":"5010b6a2.5a7b68","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":380,"wires":[["4d4ad749.a21688"]]},{"id":"d38fcad6.0e2568","type":"csv","z":"5010b6a2.5a7b68","name":"cpu_temp","sep":":","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"cpu_temp","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":720,"y":320,"wires":[["73acbd92.f4f0e4","4efd42d8.afb0cc"]]},{"id":"4d4ad749.a21688","type":"csv","z":"5010b6a2.5a7b68","name":"cpu_rate","sep":":","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"cpu_rate","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":720,"y":380,"wires":[["70fcce49.57818","4efd42d8.afb0cc"]]},{"id":"165f1912.1e38d7","type":"debug","z":"5010b6a2.5a7b68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":520,"wires":[]},{"id":"5221ce13.1639b","type":"change","z":"5010b6a2.5a7b68","name":"OLED","rules":[{"t":"set","p":"folder","pt":"msg","to":"OLED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":220,"wires":[["6a892cde.7fe7f4","260ce89d.495008"]]},{"id":"384020f9.456b8","type":"comment","z":"5010b6a2.5a7b68","name":"user","info":"","x":190,"y":180,"wires":[]},{"id":"189352e6.cc7f0d","type":"change","z":"5010b6a2.5a7b68","name":"pi","rules":[{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["5221ce13.1639b"]]},{"id":"6ce484d.338627c","type":"comment","z":"5010b6a2.5a7b68","name":"folder","info":"","x":350,"y":180,"wires":[]},{"id":"6a892cde.7fe7f4","type":"template","z":"5010b6a2.5a7b68","name":"cpu_temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/cpu_temp_data.txt\n","output":"str","x":370,"y":320,"wires":[["83cd957a.7eb258"]]},{"id":"260ce89d.495008","type":"template","z":"5010b6a2.5a7b68","name":"cpu_temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/cpu_rate_data.txt\n","output":"str","x":370,"y":380,"wires":[["3ab2d983.e025d6"]]},{"id":"ea23ab4d.626ed8","type":"comment","z":"5010b6a2.5a7b68","name":"filenameプロパティでファイルネームを渡す。","info":"","x":450,"y":440,"wires":[]},{"id":"9dacc8a3.6a2de8","type":"mqtt out","z":"5010b6a2.5a7b68","name":"","topic":"testmqtt/OLED/temp999","qos":"","retain":"","broker":"dfd49bd6.cc2368","x":1290,"y":320,"wires":[]},{"id":"273466a2.4f48ea","type":"inject","z":"5010b6a2.5a7b68","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":1110,"y":320,"wires":[["9dacc8a3.6a2de8"]]},{"id":"73acbd92.f4f0e4","type":"calculator","z":"5010b6a2.5a7b68","name":"1:1","inputMsgField":"payload.cpu_temp","outputMsgField":"payload","operation":"div","constant":"1","round":false,"decimals":0,"x":892,"y":320,"wires":[["9e8b7c2b.0361","165f1912.1e38d7","b54fad0f.cdc87"]]},{"id":"70fcce49.57818","type":"calculator","z":"5010b6a2.5a7b68","name":"1:1","inputMsgField":"payload.cpu_rate","outputMsgField":"payload","operation":"div","constant":"1","round":false,"decimals":0,"x":891,"y":379,"wires":[["a44aaf84.2976a","165f1912.1e38d7"]]},{"id":"9e8b7c2b.0361","type":"ui_gauge","z":"5010b6a2.5a7b68","name":"","group":"e7db4c84.3f1de","order":4,"width":0,"height":0,"gtype":"gage","title":"CPU温度","label":"units","format":"{{value}}度","min":"0","max":"80","colors":["#3d48e1","#1ef125","#e7440d"],"seg1":"40","seg2":"60","x":1100,"y":260,"wires":[]},{"id":"a44aaf84.2976a","type":"ui_gauge","z":"5010b6a2.5a7b68","name":"","group":"e7db4c84.3f1de","order":5,"width":0,"height":0,"gtype":"gage","title":"CPU使用率","label":"units","format":"{{value}}%","min":"0","max":"100","colors":["#3d48e1","#41ec7d","#e7440d"],"seg1":"20","seg2":"50","x":1110,"y":440,"wires":[]},{"id":"4efd42d8.afb0cc","type":"debug","z":"5010b6a2.5a7b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":520,"wires":[]},{"id":"e5a3bdc8.169cc","type":"mqtt-broker","name":"Free Public MQTT 5 Broker Server","broker":"broker.emqx.io","port":"1883","tls":"4ad98a91.f81c14","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dfd49bd6.cc2368","type":"mqtt-broker","name":"Free Public MQTT 5 Broker Server","broker":"broker.emqx.io","port":"1883","tls":"544a6b04.86de24","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7db4c84.3f1de","type":"ui_group","name":"状態表示","tab":"dc755b72.c0f8a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ad98a91.f81c14","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"544a6b04.86de24","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"dc755b72.c0f8a8","type":"ui_tab","name":"状態表示","icon":"dashboard","order":8,"disabled":false,"hidden":false}]
